@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Sistema realizado por:
<p>
    -Luis Ariel Arroyo Solorzano
</p>
<p>
    -Mauricio Campos Montero
</p>
<p>
    -Luis Felipe Soto Cruz
</p>
<p>
    -Justin Gerardo Vega Madrigal
</p>
</p>

