@page
@model FaryvetLogisticSupport.Pages.VehiculosTransporte.CreateVehiculosTransporteModel
@{
    ViewData["Title"] = "CreateVehiculosTransporte";
}

<br />
<h1>Registrar un nuevo vehiculo de transporte</h1>
<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.NumeroPlaca">
                            Número de placa<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.NumeroPlaca" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.NumeroPlaca" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.Marca">
                        Marca<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.Marca" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.Marca" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.Modelo">
                            Modelo<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.Modelo" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.Modelo" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.AnnioFabricacion">
                            Año de fabricación<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input required pattern="[0-9]+" min="1960" max="2100" asp-for="FARYVET_FLS_VehiculoTransporte.AnnioFabricacion" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.AnnioFabricacion" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.CapacidadCarga">
                            Capacidad de carga(Kilogramos)<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input required pattern="[0-9]+[,]*[0-9]*" asp-for="FARYVET_FLS_VehiculoTransporte.CapacidadCarga" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.CapacidadCarga" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.CapacidadCombustible">
                            Capacidad de combustible(Litros)<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input required pattern="[0-9]+[,]*[0-9]*" asp-for="FARYVET_FLS_VehiculoTransporte.CapacidadCombustible" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.CapacidadCombustible" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.FechaRiteve">
                            Fecha de RITEVE<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type = "date" asp-format="{dd-MM-yyyy}" value="2019-01-01" asp-for="FARYVET_FLS_VehiculoTransporte.FechaRiteve" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.FechaRiteve" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label required pattern="[0-9]+[,]*[0-9]*" asp-for="FARYVET_FLS_VehiculoTransporte.CostoMarchamo">
                            Costo de marchamo<a style="color:red">*</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.CostoMarchamo" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.CostoMarchamo" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.CVOSenasa">
                            CVO de Senasa
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.CVOSenasa" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.CVOSenasa" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.Estado">
                            Estado
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">                        
                        <select asp-for="FARYVET_FLS_VehiculoTransporte.Estado" class="form-control">
                            <option selected ="selected">Disponible</option>
                            <option>En mantenimiento</option>
                        </select> 
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.Estado" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.IsEntrega">
                            ¿Está realizando una entrega?
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.IsEntrega" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.IsEntrega" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.Comentario">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="FARYVET_FLS_VehiculoTransporte.Comentario" class="form-control" />
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.Comentario" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="FARYVET_FLS_VehiculoTransporte.LicenciaRequerida">
                            Licencia requerida
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <select asp-for="FARYVET_FLS_VehiculoTransporte.LicenciaRequerida" class="form-control">
                            <option selected="selected">A1</option>
                            <option>A2</option>
                            <option>A3</option>
                            <option>A4</option>
                            <option>B1</option>
                            <option>B2</option>
                            <option>B3</option>
                            <option>B4</option>
                            <option>C1</option>
                            <option>C2</option>
                            <option>D1</option>
                            <option>D2</option>
                            <option>D3</option>
                            <option>E1</option>
                            <option>E2</option>
                        </select>
                    </div>
                    <span asp-validation-for="FARYVET_FLS_VehiculoTransporte.LicenciaRequerida" class="text-danger">
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <input type="submit" value="Registrar" class="btn btn-primary form-control" data-toggle="tooltip" title="Registrar datos"/>
                    </div>
                    <div class="col-2">
                        <a asp-page="../Index" class="btn btn-success form-control" data-toggle="tooltip" title="Cancelar acción">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>